button {
  margin-top: 1em;
}

button.sibling {
  margin-left: 1em;
}

div {
  width: 100%;
}

.header {
  color: red;
  font-size: 2em;
}

p {
  color: blue;
  font-weight: bolder;
  width: 500px;
}

p a {
  font-weight: bolder;
  margin-left: 1em;
  color: gray;
}

span {
  display: block;
  margin: 5px 0px 0px 0px;
  color: green;
  text-align: justify;
  width: 100%;
  overflow-y: hidden;
}
